@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

/* ### Primary
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)
## Gradients
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)
- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)
### Neutral
- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  height: 510px;
  width: 740px;
  box-shadow: 2px 2px 50px rgb(175, 174, 174);
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.125rem;
}

ul,
ol {
  list-style: none;
}
.left__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 20px;
  border-radius: 30px;
}
ul li:nth-child(1) {
  font-size: 12px;
  padding-top: 12px;
}
ul li:nth-child(2) {
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-result {
  font-size: 3.125rem;
  font-weight: 800;
}
.your-result {
  color: hsl(241, 100%, 89%);
  font-size: 1.125rem;
}
.hundred {
  color: hsl(241, 100%, 89%);
}
ul li:nth-child(2) span {
  font-size: 8px;
  position: relative;
  top: -50%;
  right: 0%;
}
.higher-score {
  color: hsl(241, 100%, 89%);
  font-size: 0.938rem;
  padding: 12px 30px;
  width: 80%;
}

/* -------------------------------------Summary card----------------------------------- */
.right__card {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 0 30px 30px 0;
  width: 100%;
}
.sub__right__card {
  display: grid;
}
ol li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
  border-radius: 10px;
  margin: 20px 0;
}
li > img {
  margin-right: -30px;
}
.summary__reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.reaction {
  color: hsl(0, 100%, 67%);
}
.summary__memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.memory {
  color: hsl(39, 100%, 56%);
}
.summary__verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.verbal {
  color: hsl(166, 100%, 37%);
}
.summary__visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.visual {
  color: hsl(234, 85%, 45%);
}
.percentage {
  color: hsl(241, 100%, 89%);
}
.stat,
h2 {
  color: hsl(224, 30%, 27%);
}
button {
  background: hsl(224, 30%, 27%);
  color: hsl(241, 100%, 89%);
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  margin: 45px 0;
  border: none;
  font-size: 18px;
}
button:hover {
  background-color: hsl(234, 85%, 45%);
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 768px) {
  #main__container {
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .right__card {
    border-radius: 0;
  }
}
